more_itertools
numpy
torch
tqdm
parameterized
pytest
pyyaml
retry
tensorboardX
wandb
git+https://github.com/Hiroshiba/pytorch-trainer@1.3.2
git+https://github.com/Hiroshiba/acoustic_feature_extractor
